@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container-x {
  width: min(1300px, calc(100% - 64px));
  margin-inline: auto;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 58s linear infinite;
}

.gradient-panel {
  background: linear-gradient(
    115deg,
    #237cba 0%,
    #298bc2 35%,
    #57b3b0 70%,
    #8bd0ae 100%
  );
}

.border-wiz {
  border: 5px solid transparent;
  background:
    linear-gradient(transparent, transparent) padding-box,
    linear-gradient(90deg, #1d7fc5, #00c6ff, #6a5cff) border-box;
}